.container{
    padding-left: 44px;
    padding-right: 44px;
    width: 100%;
}

.container_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

.comtainer_header_p2 p{
    padding: 7px;    
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 12px;
}

.table_container{
    width: 100%;
    border: 1px solid  rgb(166, 157, 157);
    border-radius: 5px;
    

}

.table_container table{
    width: 100%;
    border-collapse: collapse;

}

.table_container table thead{
    width: 500px;
    background-color: rgb(166, 157, 157);
    border: 1px solid rgb(166, 157, 157);
    border-radius: 5px;
    text-align: left;
    

}


.table_container table tbody{
    width: 500px;
    background-color: rgb(200, 189, 189);
    
}


.table_container table  tr{
    /* border: 1px solid black; */
}

.table_th{
    padding: 20px;
    word-wrap: break-word;
    white-space: normal; /* Ensures that text inside cells wraps correctly */
    overflow: hidden;

}